<div class="breadcrumb">
  <div class="bc">
    <%= link_to 'Analysis Home', analysis_root_path %> > <%= link_to 'Games', analysis_games_path %> > <%= link_to @three_player_game.name, [:analysis, @three_player_game] %> > Edit 3 Player Game
  </div>
</div>

<h3>Edit 3 Player Game</h3>

<% form_for([:analysis,@three_player_game]) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, :cols=>27, :rows=>10 %></td>
    </tr>
  </table>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
