<div class="breadcrumb">
  <div class="bc">
    <%= link_to 'Analysis Home', analysis_root_path %> > <%= link_to 'Simulations', analysis_simulations_path %> > <%= link_to 'Simulation', [:analysis, @simulation] %> > Create Sample
  </div>
</div>

<h3>New sample</h3>

<% form_for([:analysis,@simulation,@sample], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :profile_id %>
  <table>
    <tr>
      <td><label for="uploaded_data">Upload a file:</label></td>
      <td><%= f.file_field :uploaded_data %></td>
    </tr>
  </table>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>