<div class="breadcrumb">
  <div class="bc">
    <%= link_to 'Analysis Home', analysis_root_path %> > <%= link_to 'Servers', analysis_servers_path %> > Create Server
  </div>
</div>

<h3>New server</h3>

<% form_for([:analysis,@server]) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :version %></td>
      <td><%= f.text_field :version %></td>
    </tr>
    <tr>
      <td><%= f.label :server_index %></td>
      <td><%= f.text_field :server_index %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, :cols=>27, :rows=>10 %></td>
    </tr>
  </table>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>