<div class="breadcrumb">
  <div class="bc">
    <%= link_to 'Analysis Home', analysis_root_path %> > <%= link_to 'Game Schedulers', analysis_game_schedulers_path %> > Create Game Scheduler
  </div>
</div>

<h3>New game scheduler</h3>

<% form_for([:analysis,@game_scheduler]) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td><%= f.label :game_id, "Game" %></td>
      <td><%= f.select :game_id, @game_options %></td>
    </tr>
    <tr>
      <td><%= f.label :active %></td>
      <td><%= f.check_box :active %></td>
    </tr>
    <tr>
      <td><%= f.label :min_samples_per_profile %></td>
      <td><%= f.text_field :min_samples_per_profile %></td>
    </tr>
  </table>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>