<div class="breadcrumb">
  <div class="bc">
    <%= link_to 'Admin Home', admin_root_path %> > <%= link_to 'Users', admin_users_path %> > <%= link_to h(@user.login), admin_user_path(@user) %> > Change Password
  </div>
</div>

<h3>Change password for <%= @user.login %></h3>
 
<% form_tag admin_user_password_path(@user) do %>
  <table width="100%">
  <tr>
    <th>New Password</th>
    <td><%= password_field_tag 'password', {}, :size => 30 %><br/>
    <span class="description">Between 6 and 40 characters</span></td>
  </tr>
 
  <tr>
    <th>Confirm New Password</th>
    <td><%= password_field_tag 'password_confirmation', {}, :size => 30 %></td>
  </tr>

  </table>
  <%= submit_tag 'Change Password' %>
<% end %>